h1 {
    text-align: center;
}

.buttonDiv {
    margin-bottom: 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

.board {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
}